.all {
    display: flex;
    justify-content: space-between;
}

.result {
    display: flex;
    padding-right: 130px;
    margin-bottom: 20px;
    justify-content: end;
    padding-right: 81px;
}

.txtCage {
    font-size: 18px;
    padding-top: 2px;
}

.select {
    height: 39px;
    width: 244px;
    margin-top: 10px;
    background-color: #fdfdfd;
    border-color: #ddd;
    padding-left: 5px;
    font-size: 15px;
    color: '#333333'
}

.lineCage {
    height: 3px;
    width: 30px;
    position: inherit;
    background-color: rgba(0, 0, 0, 0.1);
}

.border {
    width: 260px;
    height: 66px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;

}
.card {
    width:281px;
    border-style: dashed;
    border-width: 2px;
    border-color: #dddddd;
    margin-bottom: 15px;
    margin-right: 20px;
    height: 391px;
    overflow: hidden;
}
.nameBirdCage{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    height: 37px;
}

.img-birdCage{
    width: 281px;
    height:281px;
    transition: 0.6s;
    overflow: hidden;
}
.img-birdCage:hover{
    transform: scale(1.05);
}