.card {
    width:303px;
    border-style: dashed;
    border-width: 2px;
    border-color: #dddddd;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 447px;
}

.card h3,h4 {
    text-align: center;
}

h4 {
    padding-bottom: 15px;
}
.nameCage{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}